<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ '/' | prepend: relative_root_url }}">Filesystem Tools</a>
    </div>
    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav">
        <li class="dropdown{% if page_url_parts[1] == 'tools' %} active{% endif %}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tools <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ '/tools/fstorture/' | prepend: relative_root_url }}">fstorture</a></li>
            <li><a href="{{ '/tools/fsx/' | prepend: relative_root_url }}">fsx</a></li>
          </ul>
        </li>
        <li{% if page_url_parts[1] == 'development' %} class="active"{% endif %}><a href="{{ '/development/' | prepend: relative_root_url }}">Development</a></li>
        <li><a href="https://lists.macosforge.org/mailman/listinfo/fstools-devel">Mailing List</a></li>
      </ul>
    </div>
  </div>
</nav>
